body{
    margin: 0;
    padding: 0;
}
#fullpage{
    overflow: hidden;
}
.landing_pg{
    background-image: url("images/woman-wearing-brown-fur-beanies-and-white-and-balck-top-2681751.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
#logo{
    font-weight: bolder;
    color: #ffffff;
    padding-left: 50px;
}
#nav li{
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 20px;
}
#nav li a:hover{
    border-bottom: 2px solid #ffffff;
}
#nav li a:active{
    border-bottom: 2px solid #ffffff;
}
.social-media ul{
    position: absolute;
    top: 45%;
    right: 5%;
}
.social-media ul li{
    list-style-type: none;
    padding-top: 20px;
}
.social-media ul li a{
    color: #ffffff;
}
.social-media ul li a:hover{
    color: #cccccc;
}
.header{
    position: absolute;
    top: 45%;
    left: 3%;
    color: #ffffff;
    font-family: "Droid Serif", Serif;
    text-align: center;
}
.header p{
    letter-spacing: 5px;
}
#button{
    border: 2px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
}
#button:hover{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
}

/*first overlay effect*/
.overlay{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    top: 0%;
}
.overlay h2{
    font-family: sans-serif, Arial, "Helvetica Neue";
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20%;
    color: #000000;
}

/*responsive*/
@media(max-width: 768px){
    .overlay h2{
        margin-top: 75%;
    }
    .header{
        top: 60%;
        margin-left: 20px;
    }
    .header h1{
        font-size: 28px;
    }
    .header p{
        font-size: 12px;
        letter-spacing: 2px;
    }
}

/*products_section*/
#products_section h1{
    padding: 30px;
    text-align: center;
    letter-spacing: 1px;
}
.product_overlay{
    display: block;
    position: absolute;
    top: 10%;
    width: 70px;
    opacity: 0;
}
.img_overlay:hover .product_overlay{
    opacity: 1;
    transition: 0.5s;
    margin-left: 5%;
}
.product_overlay .fa{
    background-color: white;
    color: black;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
}
.product_overlay .fa:hover{
    background-color: #f5f9ec;
}


/*footer*/
#footer{
    padding: 50px 50px 10px 50px;
    margin-top: 50px;
    background-color: #000000;
    border-top: solid 1px #333333;
}
#footer h5{
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}
#footer ul a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 5px;
}
#footer li{
    list-style-type: none;
}
#footer a:hover{
    text-decoration: none;
    color: #bec2b5;
}
#footer p{
    color: #ffffff;
    text-align: justify;
}
#footer .last{
    text-align: center;
}
#footer #form{
    padding-bottom: 20px;
    padding-left: 30%;
}